
.content {
    margin-top: 0;
}
.col {
    height: inherit;
}
.kotak-luar{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 10px;
    border-bottom: 1px solid #b6bcc1;
}
.kotak-atas{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 10px;
}
.peta{
    font-size: 16px;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 20px;
    
}
.radio{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 23px;
    height:40px;
}
.judul{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 20px;
    font-size: 16px;
    height:40px;
}
.sub-judul{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 10px;
    height:40px;
}
.dropbox{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 4px;
    height:40px;
}
.form-control-cari {
    border: 2px solid #333333;
    color: #333333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 6px 8px 6px 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: 0.25s;
    width:235px;
    height:30px;
    float:left;
    background-color: white;
    font-size: 12px;
}
.form-control-search{
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: border 0.25s, background-color 0.25s;
    height:30px;
    background-color:#333333;
    float:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
}
.form-control-search:hover,.form-control-search:focus {
    background-color: #1ABC9C;
    border-color:#1ABC9C;
    cursor:pointer;
    transition:0.25s;
}
.field:focus {
    border-color: #1ABC9C;
}
.blank{
    height:40px;
}
.blank-cari{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 4px;
    height:40px;
}
.styled-select {
    width: 130px;
    height: 30px;
    overflow: hidden;
    background: url(../../img/Panah/panahBawah.png) no-repeat right #1ABC9C;
    border: 1px solid #333333;
    border:0;
    border-radius:6px;
    background-color: #333333;
}

.styled-select select {
    background: transparent;
    width:150px;
    text-indent: 0.01px;
    text-overflow: "";
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
    color:#fff;
}

.option{
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:3px;
    border-radius:5px;
    margin:3px;
}

.gambar{
    height:330px;
}

.garis-peta{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 1px solid #b6bcc1;
    padding-bottom: 20px;
}

.keterangan{
    font-size: 16px;
    height: 99px;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:10px 0px 0px 10px;
}

.btn{
    border: medium none;
    transition: all 0.25s linear 0s;
    margin-bottom:0px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    -moz-user-select: none;
}
.btn-block{
    white-space:normal;
    display: block;
    width:130px;
    margin: 10px 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 12px;
}
.btn-lg{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 19px;
    font-size:12px;
    line-height:0.5;
    border-radius:6px;
}
.btn-inverse{
    color:#FFF;
    background-color:#555555;
}
.btn-inverse:hover,.btn-inverse:focus{
    color:#FFF;
    background-color:#1ABC9C;
    border-color:#1ABC9C;
}

#map-canvas {
    width: 100%;
    height: 387px;
    margin-top:5px;
}

.ui-menu-item {
    color:#FFF;
    background-color:#333333;
}

.keteranganRuteAngkot {
    margin-top:0px;
    margin-left:63px
}